* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

html {
    scroll-behavior: smooth;
}

/* FUNDO */
body {
     background: url("https://cdn.pixabay.com/animation/2025/10/02/11/04/11-04-54-262_512.gif") no-repeat center center;
    background-size: cover;;
    background-color: none;
}

/* OVERLAY */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.658);
    z-index: -2;
}

/* PARTICULAS */
.particles {
    position: fixed;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(#000000 1px, transparent 1px);
    background-size: 30px 30px;
    animation: move 15s linear infinite;
    opacity: 0.2;
    z-index: -1;
}

@keyframes move {
    to {background-position: 200px 200px;}
}

/* DARK MODE */
#toggle {
    display: none;
}

.switch {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 25px;
    background: #0a0a0a;
    border-radius: 20px;
    cursor: pointer;
}

#toggle:checked ~ * {
    filter: invert(1) hue-rotate(180deg);
}

/* HEADER */
header {
       text-align: center;
    padding: 40px;
 position: relative;
    z-index: 10; 
    background: rgb(27, 27, 27);
    backdrop-filter: solid(10px);
    position: sticky;
    top: 0;
}

/* NEON */
.neon {
    color: #d3d3d3;
    text-shadow: 0 0 5px #9797975b, 0 0 20px #00000070;
}

.neon-border {
    border: 1px solid #c5c5c5;
    box-shadow: 0 0 10px #000000;
    border-style: hidden;
}

/* TYPING */
.typing {
    font-size: 3rem;
    border-right: 3px solid;
    white-space: nowrap;
    overflow: hidden;
     display: inline-block;
    animation: typing 4s steps(25) forwards, blink 0.7s infinite;
}

@keyframes typing {
       from { width: 0; }
    to { width: 38%; }
}

@keyframes blink {
    80% { border-color: transparent; }
}

/* NAV */
nav a {
    margin: 0 10px;
    color: #d1d1d1;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

/* SEÇÕES */
section {
    padding: 60px 20px;
    text-align: center;
    
    scroll-margin-top: 120px; /* ajuste conforme altura do header */

}
.sobremim{
    color: white;
    text-align: center;
    font-style: italic;
}
.sobremim2{
    color: white;
    text-align: center;
    font-style: italic;
}
.sobremim3{
    color: white;
    text-align: center;
    
    font-style: italic;
}
.resumoproprio{
    border: 3px;
    border-color: white;
    border-style: solid;
    text-align: center;
    padding: 50px;
    border-radius: 100px;
}
.reveal {
    opacity: 0;
    transform: translateY(50px);
    animation: reveal 1s forwards;
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* CAIXA DO GITHUB */
.github-box {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    margin: 20px auto;
    backdrop-filter: blur(10px);
    text-align: center;
    
}

/* BOTÃO */
.btn-github {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 20px;
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
    
}
#projetos {
    padding: 30px 20px;
}

#projetos h2 {
    margin-bottom: 10px;
}

.github-box {
    margin: 10px auto;
}

/* HOVER */
.btn-github:hover {
    background: #3f3f3f;
    color: rgba(255, 255, 255, 0.637);
    box-shadow: 0 0 15px #000000;
}
img {
    width: 150px;
    border-radius: 50%;
    margin: 20px;
    padding-top: 15px;
    height: 300px;
    width: 300px;
}


.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 50px;
}
.gitpro{
    color: white;
}
.gitpro2{
    color: white;
}

.card-skill {
    background: rgba(0,0,0,0.6);
    padding: 20px;
    border-radius: 15px;
    width: 150px;
    text-align: center;
    transition: 0.3s;
}

/* TEXTO */
.card-skill span {
    color: #38bdf8;
    font-weight: bold;
}

/* IMAGEM */
.card-skill img {
    width: 80px;        
    height: auto;     
    margin-top: 10px;   

    opacity: 0;
    transform: translateY(10px);
    transition: 0.3s;
}

/* HOVER */
.card-skill:hover img {
    opacity: 1;
    transform: translateY(0);
}

/* EFEITO NO CARD */
.card-skill:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px #38bdf8;
}

.card-skill img {
    position: absolute;
    bottom: -90px;
    left: 50%;
    transform: translateX(-50%) translateY(10px);
}

.card {
    padding-top: 10px;
    padding: 80px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.747);
    backdrop-filter: blur(10px);
    transition: 0.4s;
    color: white;
}

.card:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.219);
    text-decoration: white;
}

/* BOTÃO GLOW */
.btn-glow {
    background: transparent;
    border: 2px solid #ffffff;
    color: #38bdf8;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 0 0 10px #ffffff;
    transition: 0.3s;
}

.btn-glow:hover {
    background: #e7e8e9;
    color: black;
    box-shadow: 0 0 20px #535455;
}

/* FORM */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input, textarea {
    margin: 10px;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

/* RESPONSIVO */
@media (max-width: 600px) {
    .cards {
        flex-direction: column;
    }

    .typing {
        font-size: 2rem;
    }
}