body{
    background-image: url("https://images.unsplash.com/photo-1512618831669-521d4b375f5d?fm=jpg&q=60&w=3000&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8ZmxvcmVzdGElMjBub3R1cm5hfGVufDB8fDB8fHww");
    padding-bottom: 100px;
}

.meuportfólio{
   
    padding: 50px;
    padding-right: 100px;
    padding-bottom: 200px ;
    border: 12;
    border-style: hidden;
    color: white;
    border-radius: 20px;
     background: linear-gradient(to right,black, black, #000000, rgba(77, 77, 155, 0));}

.textoportfólio{

    text-align: justify;
    font-size: 100px;
    color: white;
}